################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Splyt.Backend/.vs/Backend/v14
/Splyt.Backend
